<!DOCTYPE html>
<html>
<head>
   <title>WERpapers - Artigos Publicados no Workshop em Engenharia de
     Requisitos</title>
</head>
<body bgproperties="fixed" background="/imagens//eng_req.jpg">
<br>
   <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:
     collapse" bordercolor="#111111" width="100%" id="AutoNumber1">
      <tr>
      <td>
         <p align="center"><img border="0" src="/imagens//logo_wer_papers.jpg" width="169"height="102"></p>
         <p align="center">
            <font face="Times New Roman" size="5" color="#0000FF">Artigos
              publicados no WER</font>
            </br>
            <font face="Times New Roman" size="4" color="gray">
              Artículos publicados en WER</br>Papers published on WER
            </font>
         </p>
      <br>
      </td>
      </tr>
      <tr>
      <td>
         <p align="justify" style="margin-left: 10%; margin-right: 10%">
            <font face="Arial">WERpapers  disponibiliza os artigos publicados
              nos anais de cada <a href="../index.html" target="_blank">WER</a>.  O acesso pode ser feito pelo
              sumário dos anais (para cada edição) ou por busca livre
              utilizando-se a máquina de busca Google (para todas as edições).
              A busca Google é livre e acessa os artigos em pdf.
            </font>
            </br></br>
            <font face="Arial" color="gray">WERpapers pone a su disposición
              los artículos publicados en los anales de todos los Workshops
              <a href="../index.html" target="_blank">WER</a>. Es posible acceder a los mismos utilizando
              el resumen de los anales (para cada edición) o mediante el motor
              de búsqueda Google (para todas las ediciones). La búsqueda en
              Google permited acceder a los artículos en formato pdf.
              </br></br>
              WERpapers makes it possible to access <a href="../index.html" target="_blank">WER</a> published
              papers. The access can be done for each edition or by using the
              Google search engine. Google searches pdf files in all WER
              editions.
            </font>
         </p>
         <p style="margin-left: 10%; margin-right: 10%" align="center"><b>
            <font face="Verdana" size="2">
              <a href=papers_by_conference.lp?conference=WER98>WER98</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER99>WER99</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER00>WER00</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER01>WER01</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER02>WER02</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER03>WER03</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER04>WER04</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER05>WER05</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER06>WER06</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER07>WER07</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER08>WER08</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER09>WER09</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER10>WER10</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER11>WER11</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER12>WER12</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER13>WER13</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER14>WER14</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER15>WER15</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER16>WER16</a>&nbsp;&nbsp;
<a href=papers_by_conference.lp?conference=WER17>WER17</a>&nbsp;&nbsp;

              <br><a href="papers_cited.lp?limit=20">
                   Mais citados | Más Citados | Most Cited</a>
            </font></b>
         </p>
      </td>
      </tr>
   </table>
   	<table align="center" width="50%">
		<tr> <!-- Search Google -->
	 <table width="100%">
		<td  align="center">
		<div id="cse-search-form"  align="center" style="width: 40%;">Loading</div>
		<script src="http://www.google.com/jsapi" type="text/javascript"></script>
		<script type="text/javascript">
		  google.load('search', '1', {language : 'en'});
		  google.setOnLoadCallback(function() {
			var customSearchControl = new google.search.CustomSearchControl('009472974280876244117:xpn-pdgov3q');
			customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
			var options = new google.search.DrawOptions();
			options.enableSearchboxOnly("http://www.google.com/cse?cx=009472974280876244117:xpn-pdgov3q");
			customSearchControl.draw('cse-search-form', options);
		  }, true);
		</script>
		<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
		</td>
	</table>
</tr>
	<table>
</body>

<footer>
  <hr width="80%" align=center>
  <table width="80%" align=center>
    <tr>
      <td width="34%" align=right>
        <a target="_blank" href="../index.html">
	  <img border="0" src="/imagens//logo_wer_new.jpg"
               width="150" height="56">
	</a>
      </td>

      <td width="17%" align=center><!-- Start DBLP -->
        <a target="_blank" href="http://www.informatik.uni-trier.de/%7Eley/db/conf/wer/index.html">
	  <img src="/imagens//dblp.gif"
               width="109" border="0" height="40">
        </a>
      </td>
      <!-- End DBLP -->

      <td width="12%" align=left><!-- Start BDBCOMP -->
        <a href="http://www.lbd.dcc.ufmg.br/bdbcomp/servlet/PesquisaEvento?evento=wer" target="_blank">BDBComp</a>
      </td>
      <!-- End BDBCOMP -->

      <td align=right><!-- Start StatCounter -->
        <script type="text/javascript" language="javascript">
			  var sc_project=2436695;
			  var sc_invisible=0;
			  var sc_partition=23;
			  var sc_security="d697c1f6";
			  var sc_text=3;
			</script>
			<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><br>
			<a href="http://my.statcounter.com/project/standard/stats.php?project_id=2436695&amp;guest=1">StatCounter</a>
		  </p>
      </td><!-- End of StatCounter Code -->
    </tr>
  </table>
</footer>
</html>
