<html>
<head>
<title>
{{conference}}
</title>
	<!--
	jQuery plugin: Tablesorter 2.0 - Sort table using a link outside the table
	-->
	<link rel="stylesheet" href="../themes/blue/style.css" type="text/css" id="" media="print, projection, screen" />
	<script type="text/javascript" src="../js/jquery-latest.js"></script>
	<script type="text/javascript" src="../js/jquery.tablesorter.js"></script>

	<!-- google chart-->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>

<body>
<table width="100%" align=left>
<tr>
 <H2>
     <td>
         <h1>
             <a href=http://wtrans.inf.puc-rio.br>WTRANS13</a> - Workshop de Transparência em Sistemas 2013: Brasília, Brasil
         </h1>
     </td>
 </H2>
</tr>
</table>
</body>

</html>
